.fm-total {
	float: right;
	margin: 2px 10px;
}

.thanks,
.fm-item {
	margin: 1px 10px;
}

.thanks {
	
text-align: center;
font-size: 20px;
color: #555;	
}

.fm-item-price {
	float: right;
}

.fm-currency:before {
	content: "$";
}


body {
	padding: 0;
	margin: 0;
}

#container {
	background: url(/img/fakebg.png);
	width: 1224px;
	height: 889px;
	margin: 0 auto;
	position: relative;
}	

.sidebar-nav {
	position: absolute;
	right: 0;
	top: 250px;
	border: none;
	background: none;
	width: 250px;
	box-shadow: none;
}
.scanitems {
	display: none;
}

.sidebar-nav.empty .scanitems{
	display: block;
	background: url(/img/scanitems.png) center no-repeat;
	height: 100px;
}

.fm-total {
background: #EDEDED;
padding: 20px;
float: none;
text-align: center;
font-size: 20px;
color: #555;	
}

.sidebar-nav.empty .fm-total {
	display: none;
}


.sidebar-nav.empty .scancard {
	display: none;
}

.sidebar-nav .scancard{
	background: url(/img/scancard.png) center no-repeat;
	height: 100px;
}